:root {
  --blue: #2B4074;
  --grey: #4A4A4A;
}

@font-face {
  font-family: "RobotoCondensed";
  src: url("../assets/fonts/RobotoCondensedRegular.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/RobotoRegular.ttf");
}

section {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
  grid-column-gap: 88px;
  padding: 79px 40px 16px 62px;
  font-family: "Roboto", sans-serif;
  color: var(--grey);
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.description h1 {
  color: var(--blue);
  font-family: "RobotoCondensed", sans-serif;
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 65px;
}

.description h4 {
  font-size: 24px;
  font-weight: 400;
  line-height: 26px;
}

hr {
  background-color: var(--blue);
  width: 100px;
  height: 8px;
  margin: 30px 0px 30px 0px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 80px;
  justify-items: center;
}

@media screen and (max-width: 1200px) {
  section {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
    padding: 10px;
    align-content: center;
  }

  .description {
    margin: 52px 122px 28px 46px;
  }

  .description h1 {
    text-align: center;
  }

  .description p {
    width: 500px;
  }

  .cards {
    padding-top: 77px;
  }
}

@media screen and (max-width: 928px) {
  .description p {
    width: 100%;
  }

  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 640px) {
  .description {
    margin: auto
  }

  .description,
  h1,
  p,
  hr {
    align-items: center;
    text-align: center;
  }
}

@media screen and (max-width: 600px) {
  .cards {
    grid-template-columns: repeat(1, 1fr);
  }

  .description,
  h1,
  p,
  hr {
    align-items: center;
    text-align: center;
  }
}